@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}

body {
    background: url(../img/Фон\ 1.png) no-repeat;
    background-size: cover;
}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
    cursor: pointer;
}

.container {
    max-width: 1366px;
    margin: 0 auto;
}

/*header style*/
.header {
    padding: 30px 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.nav {
    display: flex;
    justify-content: space-between;
}

.header_list {
    display: flex;
    gap: 25px;
}



.header_wraper {
    display: flex;
    gap: 20px;
    align-items: center;
}

.header_text {
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    color: #fff;
}

.header_text-link {
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
}
.logo{
font-size: 22px;
font-weight: 700;
line-height: 22px;
color: #01813F;
}

.header_text-link:hover {
    color: #01813F;
}


/*main style*/
.form-wraper {
    max-width: 444px;
    background-color: #fff;
    margin: 50px auto;
    padding: 60px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;



}

.input {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: none;

}

.btn {
    padding: 10px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary {
    background-color: #3CB878;
}

.btn-primary:hover {
    background: #01813F;

}

.btn-facebook {
    background: #305DB8;
}

.btn-facebook:hover {
    background: #022263;

}

.btn-google {
    background: #DF4A32;
}

.btn-google:hover {
    background: #AB1F09;


}

.btn-link {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.form-social__text {
    position: relative;

}

.form-social__text::before {
    position: absolute;
    content: '';
    height: 28px;
    width: 1px;
    background-color: #fff;
    left: -20px;
    top: -5px;
}



.checkbox {
    color: #434343;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
}

.checkbox_link {
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    color: #01813F;
}

.form-title__wraper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    position: relative;
}

.form-title__wraper::before {
    position: absolute;
    content: '';
    width: 18px;
    height: 18px;
    background-color: #3CB878;
    left: -60px;
}

.form-title {
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
}

.form-link {
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    color: #3CB878;
}

.form-social__wraper {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    margin-bottom: 30px;
}

.form-text {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    color: #848484; 
    margin: 10px;
    position: relative;


}
.form-text::before{
    max-width: 152px;
    width: 100%;
    height: 1px;
    background-color:#F2F2F2;
    content:'';
    position: absolute;
    top:50%;
     left: -15px ;
}
.form-text::after{
    max-width: 152px;
    width: 100%;
    height: 1px;
    background-color:#F2F2F2;
    content:'';
    position: absolute;
    top:50%;
    right: -15px;
}